.inputfoucs-style{
    border-color: lightseagreen;
}
.div_input{
    position: relative;
    display: inline-block;
    min-width: 50px;
    text-align: center;
    border-bottom: 1px solid black;
}
.div_input .mq-editable-field{
    border: none !important;
}
.mustText{
    color: red;
    cursor:pointer;
}