<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理员系统</title>
    <link rel="icon" href="../public/images/idiil.png" />
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <!--由于在linux下没法按需加载第三方库组件对应样式，所以全部先引用过来，下方antd.js同上-->
    <link rel="stylesheet" href="../public/stylesheets/antd.min.css"/>
</head>
<body>
<div id="teacherRoot"></div>
<script src="../public/scripts/base64.js"></script>
<script src="../public/scripts/jquery-1.11.3.js"></script>
<!--<script src="public/scripts/antd.min.js"></script>-->
<script src="/build/teacher.bundle.js"></script>
</body>
</html>
