<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IDIIL 中考系统</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="../public/images/idiil.png" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  </head>
  <body>
    <div id="root"></div>
    <script src="/build/bundle.js"></script>
    <!--<script src="public/build/bundle.js"></script>-->
  </body>
</html>
