<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中考智能培训系统</title>
    <link rel="icon" href="public/images/idiil.png" />
    <link rel='stylesheet' href='public/stylesheets/style.css' />
    <link rel="stylesheet" href="public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="public/stylesheets/mathquill.css"/>
    <!--由于在linux下没法按需加载第三方库组件对应样式，所以全部先引用过来，下方antd.js同上-->
    <link rel="stylesheet" href="public/stylesheets/antd.min.css"/>
  </head>
  <body>
    <div id="root"></div>
    <script src="public/scripts/base64.js"></script>
    <script src="public/scripts/jquery-1.11.3.js"></script>
    <script src="public/scripts/mathquill.min.js"></script>
    <!--<script src="public/scripts/antd.min.js"></script>-->
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="new_ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="new_ueditor/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="new_ueditor/third-party/kityformula-plugin/addKityFormulaDialog.js"></script>
    <script type="text/javascript" charset="utf-8" src="new_ueditor/third-party/kityformula-plugin/getKfContent.js"></script>
    <script type="text/javascript" charset="utf-8" src="new_ueditor/third-party/kityformula-plugin/defaultFilterFix.js"></script>
    <!--<script type="text/javascript" src="new_ueditor/MathJax.js?config=TeX-AMS_HTML-full"></script>-->
    <script src="/build/front.bundle.js"></script>
  </body>
</html>
