<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IDIIL 中考系统</title>
    <link rel="icon" href="public/images/idiil.png" />
    <link rel='stylesheet' href='public/stylesheets/style.css' />
    <link rel="stylesheet" href="public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="public/stylesheets/mathquill.css"/>
  </head>
  <body>
    <div id="root"></div>
    <script src="public/scripts/base64.js"></script>
    <script src="public/scripts/jquery-1.11.3.js"></script>
    <script src="public/scripts/mathquill.min.js"></script>
    <script src="/build/front.bundle.js"></script>
  </body>
</html>
