body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.displayflex{
  display: flex;
}
.displaynone{
  display: none;
}
.input_blank{
  border: 0px;
  border-bottom: 1px solid #333;
  text-align: center;
}