.mask{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: aliceblue;
    padding: 50px 0;
    /*border: 50px solid;*/
    /*-webkit-border-image: url("/public/images/1111.jpg") 40 40 round stretch;*/
    /*-moz-border-image: url("/public/images/1111.jpg") 40 40 round stretch;*/
    /*-o-border-image: url("/public/images/1111.jpg") 40 40 round stretch;*/
    /*border-image: url("/public/images/1111.jpg") 40 40 round stretch;*/
    background-image: url("/public/images/1111.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.mask2{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ededed;
    -webkit-border-image: url("/public/images/1111.jpg") 40 40 round stretch;
    -moz-border-image: url("/public/images/1111.jpg") 40 40 round stretch;
    -o-border-image: url("/public/images/1111.jpg") 40 40 round stretch;
    border-image: url("/public/images/1111.jpg") 40 40 round stretch;
}
.math-question-content{
    padding: 10px 20px;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: white;
}
.math-question-content header{
    /*display: flex;*/
    position: relative;
}
.math-question-content header .title{
    width: 100%;
    height: 55px;
    line-height: 55px;
    font-size: 22px;
    text-align: center;
}
.math-question-content header .exit{
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 178px;
}
.math-question-content .pagination_css{
    display: flex;
    height: 45px;
    margin: 10px 0;
    line-height: 40px;
    text-align: center;
}
.math-question-content center hr{
    border: 1px solid gainsboro;
}
.pagination_all{
    display: flex;
    width: 100%;
    padding: 0 38px;
}
.pagination_content{
    /*position:absolute;*/
    /*!*display: flex;*!*/
    /*width: 120px;*/
    position: absolute;
    width: 130px;
    text-align: center;
    bottom: 30px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    line-height: 35px;
    z-index: 100;

}
.pagination_content .pagination_before{
    position: relative;
    /*width: 100%;*/
}
.pagination_content .pagination_before .pagination{
    margin: 8px 0 !important;
}
.pagination_content .btnContainer{
    position: relative;
    right: 10px;
    top: 5px;
    /*width: 40%;*/
    text-align: right;
}
.btnContainer button{
    margin: 1px 2px;
}
.pagination_error li{
    margin: 0 2px !important;
    /*background-color: coral;*/
}
.QtxtContent{
    padding: 0 10px;
    position: relative;
    border-top: 1px solid gray;
}
.QtxtContent .QtxtContent_main{
    overflow: hidden;
    margin: 0 0 10px 0;
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.QtxtContent_main_title{
    border-bottom: 1px dashed;
    padding-bottom: 5px;
}
.exit button{
    margin: 5px 10px;
}
.height_none{
    overflow: hidden;
    height: 0px;
}
.QtxtContent_main_title_left{
    width: 100px;
    font-size: 16px;
    font-weight: 600;
}
.QtxtContent_main_title_right{
    width: 100%;
    text-align: right;
    cursor: pointer;
}
.QtxtContent_main_title_right button{
    text-align: center;
    margin-right: 15px;
}
.QtxtContent .QContet{
    margin-bottom: 10px;
}
.QtxtContent .QContet ul{
    border: 1px solid #ddd;
    padding: 10px 0px 10px 20px;
    background-color: white;
}
.QtxtContent .QContet ul li:last-child{
    margin: 10px 0 0 0;
}
.QtxtContent .content_three{
    display: flex;
    height: 100%;
}
.QtxtContent .content_three_left{
    min-width: 140px;
    /*height: 400px;*/
    overflow-y: auto;
    width: 15%;
    border: 1px solid #ddd;
    background-color: white;
    margin-right: 3px;
}
.QtxtContent .content_three_left2{
    width: 60px;
    transition: width 0.5s ;
}
.QtxtContent .content_three .shrink{
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    background-color: darkgray;
    color: white;
    padding: 5px 0;
    cursor: pointer;
}
.QtxtContent .content_three_right{
    width: 100%;
    padding: 15px;
    /*border: 1px solid darkgray;*/
    border-top: 1px solid #ddd;
    background-color: white;
    overflow-y: auto;
}
.QtxtContent .content_three_left ul{
    width: 100%;
}
.QtxtContent .content_three_right ul li{
    margin: 5px 0;
}
.input_blank{
    border: 0px;
    border-bottom: 1px solid #333;
    text-align: center;
}
.skipText{
    width: 30px;
    height: 20px;
}
.exercise2 .exercise2_main_sites{
    background-color: whitesmoke;
    cursor: pointer;
    height: 26px;
    line-height: 25px;
    margin-top: 8px;
}
.exercise2-border{
    border: 1px solid lightgray;
    padding: 8px;
    margin-bottom: 5px;
}
.exercise2 .exercise2_help{
    padding: 6px 0;
    border-top: 1px dashed;
}
#practice .next_btn{
    position: absolute;
    bottom:10px;
    right: 120px;
}
#practice .submit_btn{
    position: absolute;
    bottom:10px;
    right: 20px;
}
.div_input{
    position: relative;
    display: inline-flex;
    text-align: center;
    min-width: 50px;
    border-bottom: 1px solid black;
}
.inputfoucs-style{
    border-color: lightseagreen;
}
.exercise2 .tips{
    position: relative;
    top: 2px;
}
.submitAndscore{
    position: relative;
    display: inline-block;
    right: 10px;
    float: right;
}
.submitAndscore button{
    margin-right: 8px;
}
.questionDetail{
     position: relative;
     overflow-y: auto;
     height: 800px;
     border: 1px dashed;
     border-radius: 5px;
     padding: 15px;
     font-size: 14px;
 }
.questionDetail ul{
    padding: 10px 5px;
}
.thematic-parts{
    margin: 0 auto;
    padding: 15px;
}
.thematic-parts .part{
    width: 100%;
    min-height: 130px;
    margin: 10px 0;
    padding: 10px 5px;
    border-radius: 65px;
    cursor: pointer;
}
.thematic-parts .part:hover{
    border: 2px solid black;
}
.thematic-parts .part.one{
    background-color: #82B1FF;
}
.thematic-parts .part.two{
    background-color: #DCE775;
}
.thematic-parts .part.three{
    background-color: #18FFFF;
}
.thematic-parts .part.four{
    background-color: #EF5350;
}
.thematic-parts .part.five{
    background-color: #7E57C2;
}
.thematic-parts .part img{
    height: 110px;
}
.thematic-parts .part p{
    font-size: 16px;
}
.thematicQues-parts{
    padding: 0 20px;
    margin: 0 auto;
}
.thematicQues-parts .partOne{
    position: relative;
    text-align: center;
    font-size: 20px;
    min-height: 100px;
    margin-top: 15px;
    border: 1px solid gainsboro;
}
.thematicQues-parts .partOne .questionNumber{
    position: absolute;
    right: 15px;
    font-size: 14px;
}
.thematicQues-parts .partTwo{
    margin-top: 20px;
    padding: 10px;
    min-height: 200px;
    border: 1px solid gainsboro;
}
.thematicQues-parts .partTwo .pageslist .every-li-css{
    padding: 4px;
    border-radius: 12px;
    margin-bottom: 12px;
    transition: background-color 0.3s linear;
}
.thematicQues-parts .partTwo .pageslist .every-li-css:hover{
    background-color: blanchedalmond;
}
.thematicQues-parts .partTwo .pageslist li{
    border: 1px solid #dadada;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: white;
}
.thematicQues-parts .partTwo .pageslist .fieldtip{
    height: 36px;
    line-height: 36px;
    background-color: #f4f4f4;
    border-top: 1px solid #dadada;
    padding: 0 20px;
    color: #666666;
    border-radius: 0 0 10px 10px;
    position: relative;
    font-size: 12px;
}
.thematicQues-parts .partTwo .pageslist .fieldtip span{
    margin: 0 5px;
    cursor: pointer;
    color: #009fff;
}
.thematicQues-parts .partTwo .pageslist .fieldtip .right{
    text-align: right;
}
.thematicQues-parts .partTwo .pageslist .fieldcontent{
    font-size: 13px;
    display: block;
    padding: 15px 0 15px 15px;
    line-height: 25px;
    letter-spacing: 1px;
    word-break: break-all;
    border-radius: 10px 10px 0 0;
}
.thematicQues-parts .partTwo .pageslist .fieldcontent .content{
    padding: 5px 10px;
}
.thematicQues-parts .partTwo .pagesfooter{
    margin-top: 15px;
    text-align: right;
    font-size: 18px !important;
    padding: 10px 0 0 10px;
}
.thematic-wapper{
    margin: 0 auto;
    padding: 20px 100px;
    height: 100%;
}
.thematic-wapper .thematic-parts-header {
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
}
.thematic-wapper .thematic-parts-header .part{
    line-height: 48px;
    margin: 0 10px;
}
.thematic-wapper .thematic-parts-section{
    display: flex;
    width: 100%;
    height: 100%;
}
.thematic-parts-left{
    float: left;
    min-width: 280px;
    margin-right: 15px;
    background-color: white;
    height: 450px;
    overflow-y: auto;
}
.thematic-parts-left .ant-spin-spinning{
    margin: 0 auto;
    padding: 50px;
    display: block;
}
.thematic-parts-left .examPointMenu{
    height: 40px;
    margin: 0 5px 0 5px;
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid gray
}
.thematic-parts-left .menuList{
    position: relative;
}
.thematic-parts-left .menuList ul li ul{
    padding: 0 20px;
}
.thematic-parts-right{
    width: 100%;
    overflow-y: auto;
}
.knowledgeContent{
    width: 100%;
}
.knowledgeContent .practice{
    margin: 5px 0;
}
.knowledgeContent .practice ul{
    padding-left: 40px;
}
.knowledgeContent .practice img{
    max-width: 100%;
}
.knowledgeContent .submitBtn{
    position: absolute;
    right: 20px;
    bottom:0px;
}
.typeName{
    position: absolute;
    margin-top: 20px;
}
.selectorLine{
    margin: 5px 0;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
}
.selectorLine .selector-key{
    width: 100px;
    float: left;
}
.selectorLine .selector-value{
    position: relative;
    float: left;
}
.selectorLine .selector-value ul li{
    float: left;
    height: 20px;
    margin: 0 6px;
    display: inline-block;
}
/*2018-09-13 修改布局*/
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: transparent !important;
}
.QtxtContent-left{
    position: relative;
    /*margin-right: 5px;*/
    padding-top: 10px;
    padding-left: 8px;
    background-color: white;
    height: 400px;
    overflow-y: auto;
}
.nextQuestionBtn{
    position: absolute;
    width: 130px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #3fbef8;
    color: #030303;
    bottom: 30px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    z-index: 100;
}
#Analysis_Qtxt .ant-anchor-link .ant-anchor-link-title{
    color:#337ab7;
    fontSize:16;
    font-weight: 600;
}