.math-door{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 50px;
    text-align: center;
    background-color: #F3E5F5;
}
.math-door .questions,.exam{
    position: relative;
    height: 100%;
    width: 50%;
}
.enter-block{
    border-radius: 20px;
    position: absolute;
    font-size: 50px;
    height: 200px;
    width: 200px;
    padding-top: 50px;
    margin: 0 auto;
    left: 28%;
    top: 30%;
}
.enter-block:hover{
    cursor: pointer;
    box-shadow: 4px 4px 2px;
    transform: translate(-2px, -2px);
}
.question-block{
    background-color: lightblue;
}
.exam-block{
    background-color: burlywood;
}

.questionsAll{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    overflow-y: scroll;
}
.questionsAll header{
    text-align: center;
    height:60px;
}
.questionsAll-item{
    position: relative;
    border-radius: 8px;
    border: 1px solid darkgray;
    margin-bottom: 5px;
    background-color: lightyellow;
}
.questionsAll-item-content{
    display: flex;
    padding: 10px 0;
}
.questionsAll-item2{
    position: relative;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    height: 60px;
    line-height: 60px;
    font-size: 10px;
    border: 1px solid darkgray;
}
.questionsAll-item .title{
    width: 60%;
    padding-left:10px ;
    font-size: 18px;
}
.questionsAll-item .title2{
    width: 60%;
    padding-left:10px ;
    font-size: 16px;
}
.questionsAll-item .btn_list{
    width: 40%;
    text-align: right;
}
.questionsAll-item .bttn{
    margin-right: 5px;
}
.questionsAll-item .btn_margin{
    margin-right: 5px;
    float: right;
}
.examAll-item{
    position: relative;
    display: flex;
    height: 75px;
    line-height: 75px;
    border-radius: 8px;
    border: 1px solid darkgray;
    margin-bottom: 5px;
    background-color: lightyellow;
}
.examAll-item .title{
   width: 60%;
}
.examAll-item .btnContainer{
    position: relative;
    right: 10px;
    width: 40%;
    text-align: right;
}
.examAll-item .btnContainer button{
    margin: 0 2px;
}

.transtionBefore{
    display: none;
    overflow: hidden;
    background-color: bisque;
}
.transtionAfter{
    display: block;
}
.Preview-content{
    position: fixed;
    overflow-y: auto;
    z-index: 101;
    top: 0;
    background-color: white;
    height: 100%;
    width: 70%;
    left: 15%;
    padding: 20px;
}
.Preview-content .exit{
    position: absolute;
    right: 5px;
    top: 5px;
}
.Preview-content .Preview_header{
    border-bottom: 1px solid;
}
.Preview-content .Preview_header .title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.Preview-content .Preview_header .second-title{
    display: flex;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.Preview-content .Preview_header .second-title div{
    margin: 10px;
}
.Preview-content section{
     overflow-x: hidden;
 }
.Preview-content section .question-css{
    margin: 15px 5px;
    padding: 10px 5px;
    border: 1px dashed gray;
}
.wancheng{
    margin-right: 15px;
    color: chocolate;
}