.math-door{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 50px;
    text-align: center;
}
.math-door .questions,.exam{
    position: relative;
    height: 100%;
    width: 50%;
}
.enter-block{
    border-radius: 20px;
    position: absolute;
    font-size: 50px;
    height: 200px;
    width: 200px;
    padding-top: 50px;
    margin: 0 auto;
    left: 28%;
    top: 30%;
}
.enter-block:hover{
    cursor: pointer;
    box-shadow: 4px 4px 2px;
    transform: translate(-2px, -2px);
}
.question-block{
    background-color: darksalmon;
}
.exam-block{
    background-color: mediumslateblue;
}

.questionsAll{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #fff1dd;
    overflow-y: scroll;
}
.questionsAll header{
    text-align: center;
    height:60px;
}
.questionsAll-item{
    position: relative;
    border-radius: 8px;
    border: 1px solid darkgray;
    margin-bottom: 5px;
    background-color: lightyellow;
}
.questionsAll-item-content{
    /*padding: 10px 0;*/
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header{
    font-size: 18px;
}
.questionsAll-item-content-child{
    border-bottom: 1px solid #d6cbcb;
    margin: 0 5px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
.questionsAll-item2{
    position: relative;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    height: 60px;
    line-height: 60px;
    font-size: 10px;
    border: 1px solid darkgray;
}
.questionsAll-item .title{
    padding-left:10px ;
    font-size: 18px;
}
.questionsAll-item .title2{
    /*width: 60%;*/
    padding-left:10px ;
    font-size: 16px;
}
.questionsAll-item .btn_list{
    text-align: right;
}
.questionsAll-item .bttn{
    margin-right: 5px;
}
.questionsAll-item .btn_margin{
    margin-right: 5px;
    float: right;
}
.examAll-item{
    position: relative;
    display: flex;
    height: 200px;
    line-height: 200px;
    border-radius: 8px;
    border: 1px solid darkgray;
    margin-bottom: 5px;
    background-color: lightyellow;
}
.examAll-item .title{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.examAll-item .btnContainer{
    position: relative;
    right: 10px;
    width: 40%;
    text-align: right;
}
.examAll-item .btnContainer button{
    margin: 0 2px;
}

.transtionBefore{
    display: none;
    overflow: hidden;
    background-color: bisque;
}
.transtionAfter{
    display: block;
}
.Preview-content{
    position: fixed;
    overflow-y: auto;
    z-index: 101;
    top: 0;
    background-color: white;
    height: 100%;
    width: 70%;
    left: 15%;
    padding: 20px;
    border: 4px solid #b19592;
}
.Preview-content .exit{
    position: absolute;
    right: 5px;
    top: 5px;
}
.Preview-content .Preview_header{
    border-bottom: 1px solid;
}
.Preview-content .Preview_header .title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.Preview-content .Preview_header .second-title{
    display: flex;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.Preview-content .Preview_header .second-title div{
    margin: 10px;
}
.Preview-content section{
     overflow-x: hidden;
 }
.Preview-content section .question-css{
    margin: 15px 5px;
    padding: 10px 5px;
    border: 1px dashed gray;
}
.Preview-content section .question-css-err{
    margin: 15px 5px;
    padding: 10px 5px;
    border: 1px dashed red;
}
.Preview-content section .question-answer-1{
    margin: 0px 3px;
}
.Preview-content section .question-answer-2{
    margin: 0px 3px;
    text-decoration: underline double red;
}
.Preview-content section ul{
    margin: 0 !important;
}
.Preview-content section .ant-collapse .ant-collapse-header{
    font-size: 14px !important;
}
.Preview-content section .ant-collapse-borderless>.ant-collapse-item>.ant-collapse-header:hover{
    background: none !important;
}
.wancheng{
    margin-right: 15px;
    color: chocolate;
}
.pageslist .vertical-center-modal {
    text-align: center;
    white-space: nowrap;
}
.resetCss .ant-modal{
    width: 1000px !important;
    height: 800px;
}
.resetCss .ant-modal .ant-modal-content{
    height: 100%;
}
.resetCss .ant-modal .ant-modal-content .ant-modal-header{
    background-color: blanchedalmond;
    height: 48px;
    text-align: center;
}
.resetCss .ant-modal .ant-modal-content .ant-modal-header .ant-modal-title{
    font-size: 20px !important;
}
.resetCss .ant-modal .ant-modal-content .ant-modal-body{
    height: 670px;
    overflow-y: auto;
    overflow-x: hidden;
}
.resetCss .ant-modal .ant-modal-content .ant-modal-footer{
    bottom: 1px;
    position: absolute;
    width: 100%;
    height: 52px;
    background-color: #e9e9e9;
}
.pageslist .vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.pageslist .vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
}
.modal-main-content{
    font-size: 16px;
}
.modal-main-content .parts{
    margin-bottom: 20px ;
    margin-left: 20px;
}
.modal-main-content .parts.answerContent span{
    margin:0 5px;
    /*font-size: 12px;*/
    /*color: #d64a2f;*/
}
.modal-main-content .parts .reslutimg{
    position: absolute;
    right: 25px;
}
.modal-main-content .btn-jiexi{
    padding: 10px 0;
}
.modal-main-content .btn-jiexi button{
    background-color: #bd9260;
    color: white;
    width: 65px;
    border: 0;
    border-radius: 5px;
    margin-right: 10px;
}
.modal-main-content .parts .head{
    margin-right:10px;
    font-weight: bold;
}
.shitifenxi{
    font-size: 14px;
    font-weight: 600;
    background-color: beige;
    padding: 5px;
}
.dataAnalysis{
    position: relative;
    width: 100%;
}
.dataAnalysis .section{
    display: inline-block;
    /*min-height: 250px;*/
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;
    border-bottom: 2px solid #86b7c5;
}
.dataAnalysis .part-one{
    width: 40%;
    float: left;
    min-height: 300px;
}
.dataAnalysis .part-two{
    width: 60%;
    float: left;
}
.dataAnalysis .part-three{
    position: relative;
    width: 100%;
}

/*thematicChapter start*/
.thematicChapter{
    position: relative;
    padding: 10px 100px;
    height: 100%;
}
.thematicExitBtn{
    position: absolute;
    height: 80px;
    width: 48px;
    font-size: 22px;
    padding-left: 8px;
    padding-top: 5px;
    left: 2px;
    background-color: #0c7dcaa8;
    cursor: pointer;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}
.thematicChapter .chapterMenu{
    height: 40px;
    margin: 0 5px 0 5px;
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid gray
}
.thematicChapter .chapterMenuTree{
    position: relative;
    height: 660px;
    min-width: 200px;
    max-width: 350px;
    overflow-y: auto;
    padding: 0 10px;
}
.thematicChapter .ant-spin-spinning{
    margin: 0 auto;
    padding: 50px;
    display: block;
}
.thematicChapter .chapterMenuTree ul li .ant-tree-switcher_close::after,.ant-tree-switcher_open::after{
    font-size: 16px !important;
    color: #00a0e9;
}
.thematicChapter .menu{
    display: block;
    background-color: white;
    height: 700px;
}
.thematicChapter .menu .menuList{
    line-height:48px;
    padding-left: 35px;
    cursor: pointer;
}
.thematicChapter .article{
    position: relative;
    display: block;
    width: 100%;
    background-color: white;
    margin-left: 20px;
}

/*thematicChapter end*/