.fileupload{
    padding: 5px;
}
.fileupload button{
    margin: 5px 2px;
}
.tip_content{
    font-size: 10px;
    color: firebrick;
    opacity: 0.5;
}
#preview{
    max-width: 400px;
    max-height: 400px;
}
#preview img{
    max-width: 400px;
    max-height: 400px;
    background-size:cover ;
}