.collectAll{
    padding:10px;
}
.collectAll .collectAll_question{
    margin: 5px 0;
}
.basic_All_css{
    padding: 20px;
}
.user_head{
    position: absolute;
    right: 50px;
    width: 125px;
    height: 130px;
}
.user_head .head_btn{
    width: 100%;
    margin-top: 10px;
}
.user_head .head_btn button{
    margin-left: 5px;
}
.user_head img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 60px;
}
.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.fileinput-button input{
    position:absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    width: 50px;
    height: 30px;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
}
