.home{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.header{
    position: fixed;
    height: 80px;
    min-height: 72px;
    padding: 0 48px;
    margin: 0px;
    width: 100%;
    z-index: 999;
    background: #49516F;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border .5s cubic-bezier(0.455, 0.03, 0.515, 0.955), background .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.box-align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.flex-box{
    display: flex;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.width-max-xxlarge {
    max-width: 1600px;
}
.width-min-xxlarge {
    min-width: 450px;
}
.color-white{
    color: #ffffff !important;
}
.position-relative{
    position: relative;
}
.full-width{
    width: 100%;
}
.logolay{
    position: relative;
    width: 120px;
    float: left;
    height: auto;
}
.logolay .logo{
    position: relative;
    overflow: hidden;
    background: url("/public/images/uu14.png") no-repeat center center;
    width: 120px;
    background-size: cover;
}
.header-check-btn{
    position: absolute;
    right: 10px;
    bottom: 15px;
}
.mainWapper{
    position: relative;
    top: 80px;
    background: transparent;
    width: auto;
    margin: 0;
    border-radius: 0;
    padding: 0;
    min-height: 500px;
}
.banner-wapper1{
    position: relative;
    overflow: hidden;
    background: url("/public/images/marquee.jpg") center center / cover no-repeat;
    width: 100%;
}
.banner-wapper1 .content{
    position: absolute;
    padding: 50px;
    height: 50%;
    width: 50%;
    top: 25%;
    right: 0;
    max-width: 600px;
}
.banner-wapper2{
    height: 300px;
    width: 100%;
}
.banner-wapper2 .content{
    align-items: center;
    text-align: center;
    max-width: 960px;
    padding: 30px;
    box-sizing: inherit;
    font-size: 1em;
    line-height: 1.5;
}
.banner-wapper3{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background-color: #f5f5f5
}
.page{
    min-height: 500px;
    height: 80vh;
}
#header-home{
    height: 80px;
    min-height: 72px;
    padding: 0 48px;
    margin: 0px;
    width: 100%;
    z-index: 999;
    background: #64B5F6;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border .5s cubic-bezier(0.455, 0.03, 0.515, 0.955), background .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.home .menu-css{
    box-shadow: 0 2px 4px 0 #d9d9d9;
    margin: 0px 10px;
    min-height: 850px;
    background-color: honeydew;
}
.home .section-all{
    margin: 20px;
}
.home .section-left{
    position: relative;
    background-color: white;
    box-shadow: 0 2px 4px 0 #d9d9d9;
}
.margin-auto{
    margin: 0 auto;
}
.login-form {
    max-width: 350px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}
.register header{
    height: 80px;
    min-height: 72px;
    padding: 0 48px;
    margin: 0px;
    width: 100%;
    z-index: 999;
    background: white;
    color: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 5px 0 #d9d9d9;
    transition: border .5s cubic-bezier(0.455, 0.03, 0.515, 0.955), background .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.register .header-left-font{
    font-size: 16px;
    color: #333;
}
.header-left-font span{
    color: #999;
}
.register section{
    margin: 50px;
    min-height: 500px;
}
.register footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    min-height: 100px;
    padding: 20px;
}
.register footer .content{
    display: flex;
    font-size: 12px;
    text-align: center;
    border-top: solid 1px #e6e6e6;
    color: #999;
}
.content .content-left{
    width: 50%;
    margin-top: 40px;
}
.content .content-right{
    width: 50%;
    margin-top: 5px;
}
.showListAll{
    position: absolute;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
}
.showListAll:nth-child(1){
    left: 20%;
}
.showListAll:nth-child(2){
    left: 60%;
}
.showListAll:nth-child(3){
    top: 50%;
    left: 20%;
}
.showListAll:nth-child(4){
    top: 50%;
    left: 60%;
}
.showlist{
    position: relative;
    text-align: center;
    background-color: white;
    width: 100%;
}
.showlist img{
    width: 160px;
    height: 180px;
}